

.forma {
background-color: #21D4FD;
background-image: linear-gradient(180deg, #21D4FD 0%, #B721FF 100%);
border-radius: 10px;
}

.forma1 {
  background-color: #FFDEE9;
  background-image: linear-gradient(90deg, #FFDEE9 0%, #B5FFFC 100%);
  
  
  
  
  
}



body {
  background-color:  #98D5FC;
}

h1 {
    color: #17202A;
}

thead {
    color: #17202A
}

td {
    background-color:  #F2F4F4;
    font-size: 17px;
    font-weight: 500;
    color: #17202A;
}


#kat {
    font-size: 20px;
    font-weight: 500;
    color:#21618C !important; 
}






/* textarea boja slova*/
textarea::-webkit-input-placeholder {
    font-size: 20px;
    font-weight: 500;
    color:#21618C !important; 
  }
  
  
  textarea::-moz-placeholder { 
    font-size: 20px;
    font-weight: 500;
    color:#21618C !important; 
  }
  
  textarea:-ms-input-placeholder {
    font-size: 20px;
    font-weight: 500;
    color:#21618C !important;
  }
  
  textarea::placeholder {
    font-size: 20px;
    font-weight: 500;
    color:#21618C !important; 
  }




  
  
  